.b-search {
  padding: 2px 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.b-search__input {
  margin-left: 8px;
  flex: 1;
}

.b-search__button: {
  padding: 10px;
}